body {
    background-color: rgb(8, 19, 39);
}

.container {
    background-color: rgb(192, 202, 211);
    border-radius: 6px;
}

.container h1 {
    text-align: center;
}

.izbornik {
    color: rgb(46, 2, 2);
    font-weight: 400;
}

.izbornik span {
    font-weight: 100;
    color: rgb(199, 199, 199);
}

.izbornik span.neoznaceni:hover {
    color: rgb(46, 2, 2);
    font-weight: 200;
    cursor: pointer;
    text-shadow: 3px 3px 2px rgb(190, 190, 190);
}

.izbornik a {
    text-decoration: none;
}

.input-group-text {
    background-color: white;
}

.form-control::placeholder {
    color: rgb(228, 228, 228);
}

.underlined {
    font-weight: 650;
    color: rgb(102, 102, 102);
}

table tbody tr:hover {
    cursor: pointer;
}