/* START: Main semantic HTML elements */

body {
    background-color: rgb(8, 19, 39);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: rgb(85, 107, 141);
    background-color: rgb(8, 19, 39);
    border-radius: 4pt 4pt 0 0;
}


/* END: Main semantic HTML elements */


/* START: App-component elements */

.container {
    background-color: rgb(192, 202, 211);
    border-radius: 6px;
}

.container h1 {
    text-align: center;
}

.loggedUser {
    display: flex;
    margin-bottom: 0.5%;
    align-self: flex-end;
    color: rgb(143, 143, 143);
}

.logInformation {
    display: flex;
    justify-content: space-between;
}


/* END: App-component elements */


/* START: Home.component elements */

.mainMenu {}


/* END: Home.Component elements */


/* START: Login/Registration - component elements */

.backButton {
    align-self: flex-start;
    transition: 0.3s;
}

.backButton:hover {
    color: rgb(136, 136, 136);
    transition: 0.3s;
}


/* END: Login/Registration - component elements */

.jumbotron {
    margin-bottom: 0;
}

.form-control::placeholder {
    color: rgb(228, 228, 228);
}

table tbody tr:hover {
    cursor: pointer;
}

.thead {
    display: table-header-group;
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: #f0f8ff;
}

.tbody {
    display: table-row-group;
}

.tr {
    display: table-row;
}

.td {
    display: table-cell;
    padding: 10px 1px 1px 5px;
}

.thead div.tr div.td:last-child {
    background-color: #fff;
}

.emptyList {
    font-weight: 200;
    color: rgb(112, 112, 112);
    text-align: center;
    margin-top: 8.3%;
}

.row {
    padding-left: 3%;
}

.table {
    max-width: 550px;
}

.table tr {
    margin: 10px 10px;
}

.table td {
    max-width: 296px;
}

td.table-button {
    padding: 0;
    width: 48px;
}

.changeTitle {
    color: rgb(121, 121, 121);
}


/* END: ALL Component elements */


/* START: Country/City - component elements */

.menu {
    color: rgb(46, 2, 2);
    font-weight: 400;
}

.menu span {
    font-weight: 100;
    color: rgb(199, 199, 199);
}

.menu span.unmarked {
    transition: 0.5s;
}

.menu span.unmarked:hover {
    color: rgb(46, 2, 2);
    font-weight: 200;
    cursor: pointer;
    text-shadow: 3px 3px 2px rgb(190, 190, 190);
    transition: 0.5s;
}

.menu a {
    text-decoration: none;
}

.input-group-text {
    background-color: white;
}

.popover {
    min-width: 300px;
}

.separator {
    width: 2vw;
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
}


/* END: Country/City - component elements */


/* START: Country.component elements */

.collapsedItem {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-top: 0 !important;
    height: 0px;
}

.citiesTitle {
    padding-left: 2%;
}

.cityName {
    color: rgb(92, 92, 92);
    padding-left: 3.5%;
}

.table-country {
    margin-top: 1.3%;
}


/* END: Country.component elements */


/* START: City.component elements */

.cities-row,
.cities-col {
    padding: 0 !important;
}

.table-city {
    padding: 0 !important;
    margin-top: 1.1%;
}


/* END: City.component elements */


/* START: Edits - component elements */

.formGroup {
    margin-left: 10%;
}

.editButtons {
    display: flex;
    justify-content: center;
}

.editButtons button {
    margin: 0 2%;
    width: 150px;
}


/* END: Edits - component elements */


/* START: Country-edit.component elements */

.noPointer {
    cursor: initial;
}


/* START: Country-edit.component elements */


/* START: City-edit.component elements */

.btn-warning {
    margin: 0 14%;
}


/* START: City-edit.component elements */


/* START: Login.component elements */

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* END: Login.component elements */


/* START: Media Queries */

@media (max-width: 1199px) {
    .table-city {
        margin-top: -1.1%;
    }
}

@media (max-width: 991px) {
    .table-country {
        margin-top: 6.2%;
    }
    .col-md-5,
    .col-md-6 {
        flex: inherit !important;
        max-width: unset !important;
    }
    .table {
        margin: auto;
    }
}

@media (max-width: 767px) {
    .table-country {
        margin-top: 4%;
    }
}

@media (max-width: 508px) {
    .idH,
    .numberH {
        display: none !important;
    }
}


/* END: Media Queries */