<div class="jumbotron">
    <div class="col">
        <h2 class="izmjenaNaslov text-center">Izmjena grada: {{_gradIme}}</h2>
        <br><br>
        <div class="row">
            <div class="col-md-4 formGroup">
                <form class="tr" [formGroup]="_gradZaEdit">
                    <div class="td ">
                        <div>Id:</div>
                        <input class="form-control" formControlName="id">
                        <br>
                        <div>Ime grada:</div>
                        <input class="form-control" formControlName="ime" maxlength="30">
                        <br>
                        <div>Populacija:</div>
                        <input class="form-control" type="number" formControlName="populacija" maxlength="8">
                        <br>
                        <div>Drzava:</div>
                        <select class="form-control" type="number" formControlName="drzavaId">
                            <option [ngValue]=null>Odaberi drzavu:</option>
                            <option *ngFor="let drzava of _listaDrzava" [ngValue]=drzava.id>{{drzava.ime}}</option>
                        </select>
                        <br>
                        <button type="button" class="btn btn-warning" (click)="anullGrad()">Izbrisi sve unose</button>
                    </div>
                </form>
            </div>
        </div>
        <br><br>
        <div class="row editButtons">
            <a href="/gradovi">
                <button type="button" class="btn btn-light">Povratak</button>
            </a>
            <button type="submit" class="btn btn-primary" (click)="updateGrad(_gradZaEdit)" [disabled]="_gradZaEdit.invalid || _gradZaEdit.pristine">Izmijeni</button>
        </div>
    </div>
</div>