<div class="jumbotron">
    <div class="col cities-col">
        <h2 class="changeTitle text-center">City Creating</h2>
        <br><br>
        <div class="row cities-row">
            <div class="col-md-5">
                <h1 class="menu">
                    <a href="/countries">
                        <span class="unmarked">Countries</span></a>
                    <span> / </span>Cities</h1>
                <hr>
                <form [formGroup]="newCity" (ngSubmit)="insertCity(newCity)">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-city"></i>
                                </div>
                            </div>
                            <input class="form-control" formControlName="name" placeholder="Enter city name" required maxlength="30">
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                            <input class="form-control" type="number" formControlName="population" placeholder="Enter city population" maxlength="8">
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-globe-europe"></i>
                                </div>
                            </div>
                            <select class="form-control" type="number" formControlName="countryId">
                                <option value=null default selected>Odaberi drzavu:</option>
                                <option *ngFor="let country of listOfCountries" [ngValue]=country.id>{{country.name}}</option>+
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-md btn-block" [disabled]="newCity.invalid">
                        <i class="fas fa-database"></i>
                        Create city</button>
                    </div>
                </form>
            </div>
            <div class="separator"></div>
            <div class="col-md-6 table-cities">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="listHeader numberH" scope="col">#</th>
                            <th class="listHeader idH" scope="col">Id</th>
                            <th class="listHeader" scope="col">City name</th>
                            <th class="listHeader" scope="col">Population</th>
                            <th class="listHeader text-center" scope="col">Country name</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody [formGroup]="city" *ngFor="let city of listOfCities.controls; let i=index;">
                        <tr class="clickable">
                            <th class="numberH" scope="row">{{i+1}}</th>
                            <td class="idH">{{city.value.id}}</td>
                            <td>{{city.value.name}}</td>
                            <td class="text-center">{{city.value.population? (city.value.population | number:'2.') : '-' }}</td>
                            <td class="text-center">{{city.value.countryName? (city.value.countryName | async) : '-'}}</td>
                            <td class="table-button">
                                <button type="submit" class="btn btn-primary" (click)="editButtonClick(city.value.id)" data-toggle="tooltip" data-html="true" title="Change city">
                                <i class="far fa-edit"></i>
                            </button>
                            </td>
                            <td class="table-button">
                                <button class="btn btn-danger ml-1" [disabled]="city.invalid" mwlConfirmationPopover [popoverTitle]="popover.popoverTitle" [popoverMessage]="popover.popoverMessage[1]" placement="bottom" (confirm)="popover.cancelClicked = true; onDelete(city.value.id, i)"
                                    (cancel)="popover.cancelClicked = true" [confirmText]="popover.confirmText" [cancelText]="popover.cancelText" data-toggle="tooltip" data-html="true" title="Delete city">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="!listOfCities?.length;">
                    <h3 class="emptyList ">List of cities is currently empty.</h3>
                </div>
            </div>
        </div>
    </div>
</div>