<h1 class="izbornik">Drzave<span> / </span>
    <a href="/gradovi"> <span class="neoznaceni">Gradovi</span> </a>
</h1>
<hr>
<form #form="ngForm" autocomplete="off" (ngSubmit)="insertDrzava(form)">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-globe-europe"></i>
                </div>
            </div>
            <input class="form-control" name="ime" #ime="ngModel" [(ngModel)]="_service.formData.ime" placeholder="Unesi ime drzave" required maxlength="30">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-md btn-block">
            <i class="fas fa-database"></i>
            Spremi u bazu</button>
    </div>
</form>