<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <h1 class="izbornik">Drzave<span> / </span>
                <a href="/gradovi"> <span class="neoznaceni">Gradovi</span> </a>
            </h1>
            <hr>
            <form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-globe-europe"></i>
                            </div>
                        </div>
                        <input class="form-control" name="ime" #ime="ngModel" [(ngModel)]="_service.postFormData.ime" placeholder="Unesi ime drzave" required maxlength="30">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block">
                        <i class="fas fa-database"></i>
                        Kreiraj drzavu</button>
                </div>
            </form>
        </div>
        <div class="col-md-7">
            <div class="grid-table">
                <div class="thead">
                    <div class="tr">
                        <div class="td">Ime drzave</div>
                    </div>
                </div>
                <div class="tbody">
                    <form class="tr" [formGroup]="drzava" *ngFor="let drzava of drzaveListForms.controls">
                        <div class="td">
                            <input class="form-control" formControlName="id">
                        </div>
                        <div class="td">
                            <input class="form-control" formControlName="ime">
                        </div>
                        <div class="td">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-pencil-alt"></i>
                                Izmjeni</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>