<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <h1 class="izbornik">Drzave<span> / </span>
                <a href="/gradovi"> <span class="neoznaceni">Gradovi</span> </a>
            </h1>
            <hr>
            <form [formGroup]="_newDrzava" (ngSubmit)="onSubmit(_newDrzava)">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-globe-europe"></i>
                            </div>
                        </div>
                        <input class="form-control" formControlName="ime" placeholder="Unesi novu drzavu" required maxlength="30">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block" [disabled]="_newDrzava.invalid">
                        <i class="fas fa-database"></i>
                        Kreiraj drzavu</button>
                </div>
            </form>
        </div>
        <div class="col-md-7">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Ime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [formGroup]="drzava" *ngFor="let drzava of _drzaveListForms.controls; let i=index;">
                        <th scope="row">{{i+1}}</th>
                        <td>{{drzava.value.id}}</td>
                        <td>{{drzava.value.ime}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="grid-table" *ngIf="_drzaveListForms?.length; else emptyList">
                <div class="thead">
                    <div class="tr">
                        <div class="td">Ime drzave</div>
                    </div>
                </div>
                <div class="tbody">
                    <form class="tr" [formGroup]="drzava" *ngFor="let drzava of _drzaveListForms.controls; let i=index;">
                        <div class="td">
                            <input class="form-control" formControlName="ime" maxlength="30">
                        </div>
                        <div class="td">
                            <!-- <button type="submit" class="btn btn-primary" (click)="onSubmit(drzava)" [disabled]="drzava.invalid || drzava.pristine" data-toggle="tooltip" data-html="true" title="Izmijeni drzavu">
                                    <i class="fas fa-pencil-alt"></i></button> -->

                            <button type="submit" class="btn btn-primary" (click)="editButtonClick(drzava.value.id)" data-toggle="tooltip" data-html="true" title="Izmijeni drzavu">
                                <i class="fas fa-pencil-alt"></i>
                            </button>

                            <button class="btn btn-danger ml-1" [disabled]="drzava.invalid" mwlConfirmationPopover [popoverTitle]="_popover.popoverTitle" [popoverMessage]="this.popoverMessage" placement="bottom" (confirm)="_popover.cancelClicked = true; onDelete(drzava.value.id, i)"
                                (cancel)="_popover.cancelClicked = true" [confirmText]="_popover.confirmText" [cancelText]="_popover.cancelText" data-toggle="tooltip" data-html="true" title="Izbrisi drzavu">
                                    <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <ng-template #emptyList>
                <h3 class="emptyList">Trenutno nemate niti jednu drzavu u bazi.</h3>
            </ng-template>
        </div>
    </div>
</div>